@import "vars"
@import "fonts"
@import "libs"

body
	background-color: #f7f6f4
	font-family: 'Montserrat', sans-serif

h1
	font-size: 116px
	font-weight: 900
	padding-top: 100px

h2
	font-size: 30px
	font-weight: 900
	margin-bottom: 70px
h3
	font-size: 60px
	font-weight: 900
section
	margin-top: 150px
span
	color: $accent
	margin: 0px
	padding: 0px
a
	text-decoration: none
	color: $accent
	&:hover
		color: $accent
b
	font-weight: 700
p
	font-weight: 500
.letter
	letter-spacing: 2px

.light
	font-weight: 300
	font-size: 16px

.knopka	
	a
		font-weight: 700
		font-size: 18px
		color: $accent

		background: url(../img/button.png)

		background-size: 100% 100%
		padding: 14px 55px
		text-decoration: none
		transition: all 0.2s ease
		&:hover
			background: $accent
			border-radius: 1px $accent solid

			color: #fff
			transition: all 0.3s ease

.header 
	margin-top: 30px
	height: 100vh
	.knopka
		margin-top: 50px

	p
		font-size: 22px
		font-weight: 500
		line-height: 36px
		span
			font-weight: 900
			font-size: 30px
	nav
		display: block
		text-align: right
		
		a 
			text-decoration: none	
			display: inline-block
			margin-right: 20px
			&:first-child
				margin-right: 50px
				i
					font-size: 18px
					
			i
				font-size: 20px	
				display: inline-block
				padding-right: 5px
			span
				
										
			p
				color: black
				font-weight: 600
				font-size: 17px
				display: inline-block
				transition: all 0.2s ease
				&:hover
					color: $accent
.header_photo
	position: absolute
	left: 50%
	top: 140px
	margin-left: -140px	
	z-index: -1
	display: flex
	flex-direction: row
	.animatedBlock
		background-size: auto
		width: 150px
		height: 400px
		margin: 20px
		background-position: center center
	.animatedBlock1
		background-image: url('../img/header_block_1.png')
		animation: puls1 3s ease infinite
		background-position: center center

	.animatedBlock2
		background-color: #FFC312
		animation: puls2 4s ease infinite
		background-image: url('../img/header_block_2.png')
	.animatedBlock3
		height: 400px
		background-color: #F79F1F
		animation: puls3 6s ease infinite
		background-image: url('../img/header_block_3.png')
	.animatedBlock4
		background-color: #EE5A24
		animation: puls4 10s ease infinite
		background-image: url('../img/header_block_4.png')

@keyframes puls1
	0%
		height: 400px
		margin-top: 40px
	50%
		height: 400px
		margin-top: 20px
	100%
		height: 400px
		margin-top: 40px

@keyframes puls2
	0%
		height: 400px
		margin-top: 50px
	50%
		height: 400px
		margin-top: 0px
	100%
		height: 400px
		margin-top: 50px

@keyframes puls3
	0%
		margin-top: 0px
	50%
		margin-top: 100px
	100%
		margin-top: 0px

@keyframes puls4
	0%
		height: 200px
		margin-top: 70px
	50%
		height: 200px
		margin-top: 240px
	100%
		height: 200px
		margin-top: 70px
	
	

.promo
	margin-top: 30px
	.promo_title
		background: rgba(255, 255, 255, 0.9)
		padding: 60px 0px
		text-align: center		
		span 
			font-weight: 800
			font-size: 41px
		p
			font-size: 24px
		span.span_sale
			font-size: 28px
			color: $accent
		.knopka
			margin-top: 40px
.promo_photo
	position: absolute
	left: 50%
	margin-top: -350px
	margin-left: -537px	
	z-index: -1
	width: 600px
	height: 400px
.promo_exter
	background-image: url(../img/promo.png)
	background-repeat: no-repeat
	background-position: top left
	width: 100%
	.prom_inter
		padding: 40px 0
		margin-right: 20px
		.promo_title
			background: rgba(255, 255, 255, 0.9)
			padding: 60px 0px
			text-align: center		
			span 
				font-weight: 800
				font-size: 41px
			p
				font-size: 24px
			span.span_sale
				font-size: 28px
				color: $accent
			.knopka
				margin-top: 40px
.formats
	margin-top: 150px
	h2
		margin: 0px
	.formatsText
		position: relative
		z-index: 2
		padding: 40px
		padding-left: 0px
		width: 80%
		font-size: 18px
		font-weight: 500
		p 
			span
				font-weight: 700
				color: $accent
			.formatsTextBig
				width: 540px
				position: absolute
				top: 250px
				left: 150px
				color: white
				font-size: 120px		
				font-weight: 400
				line-height: 150px
				font-weight: 600

				
	.formatsSlider
		.item
			img
				filter: brightness(70%) contrast(70%)
				&:hover
					filter: brightness(100%) contrast(100%)
	.active
		filter: brightness(100%) contrast(100%) !important 



.offer
	.offer_icon
		margin-bottom: 40px
		b
			font-size: 24px
			font-weight: 900
			padding-left: 25px
.uslugi
	p
		font-size: 18px
	img
		width: 100%
	.img_2
		padding-top: 90px
		margin-bottom: 150px
	.img_4
		margin-top: -90px
.preim
	.card
		height: 275px
		font-size: 16px
		background-color: white
		box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.15)
		padding: 30px 60px 0px 60px
		margin-bottom: 95px
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: flex-start
		p
			margin: 0px
.sale
	.sale_title
		background: rgba(255, 255, 255, 0.9)
		padding: 60px 35px				
		p
			font-size: 16px
			font-weight: 300
		b
			font-size: 24px
			font-weight: 500
			

.sale_photo
	position: absolute
	left: 50%
	margin-top: -300px
	margin-left: -550px	
	z-index: -1
	width: 600px
	height: 400px
		



.galery
	.galerySlider
		.owl-item.active 
       		transform: scale(0.9, 0.9)
       		transition-duration: 0.2s
       		p 
       			display: none
		.owl-item
			position: relative
			z-index: 2
			&:hover
    			transform: scale(1.0, 1.0)
    			z-index: 3
    			p 
    				display: block
    				position: absolute 
    				top: 250px
    				padding: 40px
    				padding-top: 0px
    				width: 319px
    				height: 74px
    				color: #f7f6f4
    				font-size: 18px
    				font-weight: 700
    				line-height: 30px
	.knopka
		margin: 0 auto

.reviews
	.reviewsSlider
		.reviewsCard
			margin: 20px
			height: 400px
			background-color: white
			box-shadow: 0px 0px 13px 2px rgba(147, 147, 147, 0.55)
			display: flex
			flex-direction: column
			.firstRow
				padding: 15px
				display: flex
				flex-direction: row
				.name
					padding-left: 20px
					color: #202020
					font-family: Montserrat
					font-size: 18px
					font-weight: 500
					line-height: 30px
					letter-spacing: 1.8px
				.ava
					min-width: 100px
					height: 100px
					background-color: black 
					border-radius: 50px
			.secondRow
				padding-top: 30px
				padding: 20px
				text-align: center
				color: #202020	
				font-family: Montserrat
				font-size: 16px
				font-weight: 500
				line-height: 24px
				letter-spacing: 1.6px
				

.contacts
	.contactsData
		width: 100%
		table 
			border-collapse: separate
			border-spacing: 0px 20px
			td 
				vertical-align: top
				p 
					font-weight: 400
			td:nth-child(2n)
				padding-left: 20%
				font-weight: 800


	.contactsForm
		text-align: center
		width 90%
		margin-top: 80px
		background-color: white
		box-shadow: 0px 0px 13px 2px rgba(147, 147, 147, 0.55)
		p:nth-child(1)
			font-weight: 800
			padding-top: 40px
		p:nth-child(2)
			padding-left: 30px
			padding-right: 30px
		input
			border: none
			outline: none
			border-bottom: 1px solid black
		.knopka
			margin-top: 40px
			height: 70px


footer
	margin-top: 100px
	.colibri_block
		text-align: center
	
		div
			display: inline-block

			p

				font-size: 18px
				font-weight: 500
		.colibri_block_innet_two
			position: relative
			top: 13px
			a

				color: #252525
				font-weight: 900
				font-size: 18px
				line-height: 0.2
				text-decoration: none
				transition: 0.1s all ease
				&:hover
					color: $accent
				span
					display: block
					text-transform: uppercase
					letter-spacing: 0.8px
					font-size: 10px
					color: #252525
					margin-top: 0px

			




@import "media" // Always at the end
