@import "vars"
@import "fonts"
@import "libs"

body
	background-color: #f7f6f4
	font-family: 'Montserrat', sans-serif
section
	padding: 160px 40px	0px 40px
h1
	font-size: 116px
	font-weight: 900
	padding-top: 150px

h2
	font-size: 30px
	font-weight: 900
	margin-bottom: 70px
h3
	font-size: 60px
	font-weight: 900
span
	color: $accent
	margin: 0px
	padding: 0px
a
	text-decoration: none
	color: $accent
	&:hover
		color: $accent
b
	font-weight: 700
p
	font-weight: 500
.letter
	letter-spacing: 2px

.light
	font-weight: 300
	font-size: 16px

.knopka	
	a
		font-weight: 700
		font-size: 18px
		color: $accent
		border: 2px solid
		border-color: $accent
		padding: 14px 55px
		text-decoration: none
		transition: all 0.2s ease
		&:hover
			color: white
			background-color: $accent
			transition: all 0.2s ease

.header 
	margin-top: 45px
	padding-top: 0px	
	.knopka
		margin-top: 50px
	p
		font-size: 22px
		font-weight: 500
	nav
		display: flex
		justify-content: space-between
		a 
			text-decoration: none		
			i
				font-size: 25px				
			p
				color: black
				font-weight: 700
				&:hover
.header_photo
	position: absolute
	left: 50%
	margin-top: -460px
	margin-left: -140px	
	z-index: -1

.promo
	.promo_title
		background: rgba(255, 255, 255, 0.9)
		padding: 60px 0px
		text-align: center		
		span 
			font-weight: 800
			font-size: 41px
		p
			font-size: 24px
		b 
			color: $accent
			font-size: 32px
			font-weight: 800	
.promo_photo
	position: absolute
	left: 50%
	margin-top: -350px
	margin-left: -537px	
	z-index: -1
	width: 600px
	height: 400px
.formats
	.formatsText
		padding: 40px
		padding-left: 0px
		width: 80%
		font-size: 18px
		font-weight: 500
		p 
			span
				font-weight: 700
				color: $accent
			.formatsTextBig
				width: 400px
				position: absolute
				top: 300px
				left: 210px
				z-index: 2
				color: white
				font-size: 120px		
				font-weight: 400
				line-height: 150px
				font-weight: 600

				
	.formatsSlider
		.item
			img
				filter: brightness(80%) contrast(80%)
				&:hover
					filter: brightness(100%) contrast(100%)


.offer
	.offer_icon
		margin-bottom: 40px
		b
			font-size: 24px
			font-weight: 900
			padding-left: 25px
.uslugi
	p
		font-size: 18px
	img
		width: 100%
	.img_2
		padding-top: 90px
		margin-bottom: 150px
	.img_4
		margin-top: -90px
.preim
	.card
		height: 275px
		font-size: 16px
		background-color: white
		box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.15)
		padding: 30px 60px 0px 60px
		margin-bottom: 95px
		display: flex
		flex-direction: column
		justify-content: space-between
		align-items: flex-start
		p
			margin: 0px
.sale
	.sale_title
		background: rgba(255, 255, 255, 0.9)
		padding: 60px 35px				
		p
			font-size: 16px
			font-weight: 300
		b
			font-size: 24px
			font-weight: 500
			

.sale_photo
	position: absolute
	left: 50%
	margin-top: -300px
	margin-left: -550px	
	z-index: -1
	width: 600px
	height: 400px
		



.galery
	.galerySlider
		.owl-item.active 
       		transform: scale(0.8, 0.8)
       		transition-duration: 1s
       		p 
       			display: none
		.owl-item.center 
    		transform: scale(1.2, 1.1)
    		p 
    			display: block
    			position: absolute 
    			top: 250px
    			padding: 20px
    			width: 319px
    			height: 74px
    			color: #f7f6f4
    			font-size: 18px
    			font-weight: 700
    			line-height: 30px



.contacts
	.contactsData
		width: 100%
		table 
			border-collapse: separate
			border-spacing: 0px 20px
			td 
				vertical-align: top
				p 
					font-weight: 400
			td:nth-child(2n)
				padding-left: 20%
				font-weight: 800


	.contactsForm
		text-align: center
		width 90%
		margin-top: 80px
		background-color: white
		box-shadow: 0px 0px 13px 2px rgba(147, 147, 147, 0.55)
		p:nth-child(1)
			font-weight: 800
			padding-top: 40px
		p:nth-child(2)
			padding-left: 30px
			padding-right: 30px
		input
			border: none
			outline: none
			border-bottom: 1px solid black
		.knopka
			margin-top: 40px
			height: 70px


 
		


@import "media" // Always at the end
